@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');



/*PALETA DE COLORES 
Violeta azulado: #41137b
Blanco: #ffffff
Rojo: #e62f2d
Gris: #6c757d
* /

/* GENERAL */
body{
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
}
.txt-shadow{
  text-shadow: 2px 2px 2px black;
}
.btn-op1{
  border-radius: 0px;
  background: #e62f2d;
  font-weight: 300;
  color: white;
}
.btn-op1 i{
  color:white;
}
.btn-op1:hover{
  background:white;
  border:1px solid #e62f2d;
  font-weight: 300;
}
.btn-op1:hover i{
  color:#e62f2d;
}
.btn:focus{
  outline: 0px;
  box-shadow:none;
}
.input-op1{
  border-radius: 0px;
}
.input-op1:focus{
  border:none;
  border-bottom:1px solid #e62f2d;
}
.imgCortina{
  background-image: linear-gradient(to right bottom, #e62f2d, #c42322, #a31718, #840a0e, #660000);
  background-repeat:no-repeat;
  opacity:0.9;
  background-size:cover;
  margin-top:150px;
}

/*  SLIDE */
#cartascursos .dot{
  background: #e62f2d;
  height: 14px;
  width: 14px;
}
#cartascursos .dot.is-selected{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
button.flickity-button.flickity-prev-next-button{
  background: white;
  color:red;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#cartascursos .flickity-viewport{
  margin-right: 150px;
  margin-left: 150px;
  padding: 20px;
}
#cartascursos .card:hover{
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}
#cartascursos .flickity-page-dots{
  position: absolute;
  bottom: -70px;
}


 /* LOADING */
 #loading{
   background: rgba(255, 255, 255, 0.6);
   height: 120px;
   width: 120px;
   padding: 10px;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
 }



/* PARA ADAPTAR */

@media screen and (max-width: 500px) {
  #cajasubmenu{
    margin:auto;
    }
    /*boton de inicio registro*/
    .btn-op1{
      margin-bottom:10px;
    }

    ul.ordenaritems{
      margin-left:calc(50% - 40px);
    }
    #nuestroscursos > h2{
    text-align:center;
    }
    #nuestroscursos > h1{
      text-align:center;
      }

    .cont-inicio{
      display:none;
    }

    .cont-iniciocelu{
      margin-top:10%;
      display:block;
      margin-left: 2%;
    }

    #inicio-seccion > div > div.cont-inicio > table{
      display:none;
    }

    #inicio-seccion .titulo{
      font-weight: 800;
      font-size: 19px;
      text-align: left;
      color:#e62f2d;
    }
    #inicio-seccion .descripcion{
      font-weight: 600;
      font-size: 14px;
      text-align: left;
      color:white;
    }
    .margenabajo{
      margin-bottom:10px;
    }
    .navbar .navbar-collapse .navbar-nav .nav-item{
      margin-top: 10px;
    }

    /*carrucel*/
    .carousel-cell {
      width: 280px;
      height: 500px;
      margin-right:1%;
    }

    #inicio-seccion > div > div.cont-iniciocelu > table.imageniniciotipscelu{
      display:block;
      font-size:12px !important;
    }

}

@media screen and (min-width: 501px) and (max-width: 650px){
  #cajasubmenu{
    margin:auto;
    }
    /*boton de inicio registro*/
    .btn-op1{
      margin-bottom:10px;
    }

    ul.ordenaritems{
      margin-left:calc(50% - 40px);
    }

    .cont-inicio{
      display:block;
      margin-left:3%;
    }

    .cont-iniciocelu{
      display:none;
    }

    #inicio-seccion > div > div.cont-inicio > table{
      display:block;
      font-size:11px !important;
    }

    #inicio-seccion .titulo{
      font-weight: 800;
      font-size: 24px;
      text-align: left;
      color:#e62f2d;
    }
    #inicio-seccion .descripcion{
      font-weight: 600;
      font-size: 18px;
      text-align: left;
      color:white;
    }
    .margenabajo{
      margin-bottom:10px;
    }
    .navbar .navbar-collapse .navbar-nav .nav-item{
      margin-top: 10px;
    }

/*carrucel*/
.carousel-cell {
  width: 280px;
  height: 500px;
  margin-right:40px;
}

#inicio-seccion > div > div.cont-iniciocelu > table.imageniniciotipscelu{
  display:none;
}

}


@media screen and (min-width: 651px) and (max-width: 699px){
  #cajasubmenu{
    margin:auto;
    }
    /*boton de inicio registro*/
    .btn-op1{
      margin-bottom:10px;
    }

    ul.ordenaritems{
      margin-left:calc(50% - 40px);
    }

    .cont-inicio{
      margin-left: 3%;
    }

    .cont-iniciocelu{
      display:none;
    }

    #inicio-seccion > div > div.cont-inicio > table.imageniniciotips{
      font-size:11px !important;
    }

    #inicio-seccion .titulo{
      font-weight: 800;
      font-size: 28px;
      text-align: left;
      color:#e62f2d;
    }
    #inicio-seccion .descripcion{
      font-weight: 600;
      font-size: 16px;
      text-align: left;
      color:white;
    }
    .margenabajo{
      margin-bottom:10px;
    }
    .navbar .navbar-collapse .navbar-nav .nav-item{
      margin-top: 10px;
    }

/*carrucel*/
.carousel-cell {
  width: 280px;
  height: 500px;
  margin-right:40px;
}

#inicio-seccion > div > div.cont-inicio > table.imageniniciotipscelu{
  display:none;
}


}
@media screen and (min-width:700px) and (max-width:799px) {
#cajasubmenu{
margin:auto;
}
/*boton de inicio registro*/
.btn-op1{
  margin-bottom:10px;
}

ul.ordenaritems{
  margin-left:calc(50% - 40px);
}


.cont-inicio{
  margin-left: 6%;
}

.cont-iniciocelu{
  display:none;
}

#inicio-seccion > div > div.cont-inicio > table.imageniniciotips{
  font-size:13px !important;
}

#inicio-seccion .titulo{
  font-weight: 800;
  font-size: 27px;
  text-align: left;
  color:#e62f2d;
}
#inicio-seccion .descripcion{
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color:white;
}
.margenabajo{
margin-bottom:10px;
}

/*carrucel*/
.carousel-cell {
  width: 280px;
  height: 500px;
  margin-right:40px;
}
#inicio-seccion > div > div.cont-inicio > table.imageniniciotipscelu{
  display:none;
}

}

@media screen and (min-width:800px) and (max-width:991px) {
  #cajasubmenu{
  margin:auto;
  }
  /*boton de inicio registro*/
  .btn-op1{
    margin-bottom:10px;
  }
  
  ul.ordenaritems{
    margin-left:calc(50% - 40px);
  }


  .cont-inicio{
    margin-left: 10%;
  }

  .cont-iniciocelu{
    display:none;
  }

  #inicio-seccion > div > div.cont-inicio > table.imageniniciotips{
    font-size:14px !important;
  }

  #inicio-seccion .titulo{
    font-weight: 800;
    font-size: 30px;
    text-align: left;
    color:#e62f2d;
  }
  #inicio-seccion .descripcion{
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color:white;
  }
  .margenabajo{
  margin-bottom:10px;
  }
  
  /*carrucel*/
  .carousel-cell {
    width: 280;
    height: 500px;
    margin-right:40px;
  }
  #inicio-seccion > div > div.cont-inicio > table.imageniniciotipscelu{
    display:none;
  }  
  
  }



 /* MENU */
#navid{
 margin:0px;
 padding:0px;
}
#navid > button{
  outline: 0px;
  box-shadow: none;
}

@media screen and (min-width: 992px) and (max-width:1400px){
  #cajasubmenu{
  margin-top:29px;
  }
.btn-op1{
  margin-bottom:10px;
}

#cartascursos{
  margin-top:-200px;
}

.cont-inicio{
  margin-left: 10%;
}
.cont-iniciocelu{
  display:none;
}


#inicio-seccion .titulo{
  font-weight: 800;
  font-size: 38px;
  text-align: left;
  color:#e62f2d;
}
#inicio-seccion .descripcion{
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  color:white;
}

/*carrucel*/
.carousel-cell {
  width: 280px;
  height: 500px;
  margin-right:40px;
}
#inicio-seccion > div > div.cont-inicio > table.imageniniciotipscelu{
  display:none;
}

}
@media screen and (min-width: 1401px) {

  #cajasubmenu{
    margin-top:29px;
    }
  .btn-op1{
    margin-bottom:10px;
  }
  
  #cartascursos{
    margin-top:-300px;
  }
  
  .cont-inicio{
    margin-left: 18%;
  }
  .cont-iniciocelu{
    display:none;
  }

  #inicio-seccion .titulo{
    font-weight: 800;
    font-size: 42px;
    text-align: left;
    color:#e62f2d;

  }
  #inicio-seccion .descripcion{
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    color:white;

  }
  
  /*carrucel*/
  .carousel-cell {
    width: 280px;
    height: 500px;
    margin-right:40px;
  }
  #inicio-seccion > div > div.cont-inicio > table.imageniniciotipscelu{
    display:none;
  }

}



  /* INICIO */

  .cont-inicio{
    margin-top: 12%;
  }



  /* INFO */

  .titulo2{
    font-weight: 200;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    color:#000000;
  }
  .descripcion2{
    font-weight: 300;
    font-size: 16px;
    color:#000000;
    margin-top:-5px;
  }

  #nuestroscursos{
    margin-top:2%;
    margin-left:5%;
    margin-bottom:2%;
    text-align:left;
    color:#000000;
  }

  .link1{
  
      margin-right:15px;
  }

  .link2{
      color:#3c3b37;
    
      margin-right:15px;
      
  }

  a{
      color:#060C17;
      font-size:16px;

      text-decoration: none;
  }
  /* visited link */
  a:visited {
    color:#3c3b37;
    text-decoration:none;
  }

  /* mouse over link */
  a:hover {
    color:#e62f2d !important;
    text-decoration:none;
  }

  /* selected link */
  a:active {
    color:#3c3b37;
    text-decoration:none;
  }

  */
  *:focus {
      outline: none !important;
  }

  a:hover.spancito{
      border-style: solid; border-width:0px 0px 2px 0px;border-color:#e62f2d;
  }


  /* LOGIN */

  #cont-login{
    height: 100%;
    width: 100%;
    background-image:url('../img/enfermeralogin.jpg');
    background-attachment: fixed center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #form-login{
    margin-top: 30%;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  #form-login .btn-group{
    width: 100%;
  }
  #form-login .btn{
    width: 100%;
  }


  /* REGISTRO */
  #form-registro{
    margin-top: 15%;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  #form-registro .btn-group{
    width: 100%;
  }
  #form-registro .btn{
    width: 100%;
  }
  #form-registro .btn i{
    color:white;
  }
  

  /* NOSOTROS */
  .cont-nosotros .titulo{
    font-weight: 800;
    font-size:50px;
    padding: 20px;
    color:#e62f2d;
    text-shadow: 1px 1px 1px black;
  }
  .cont-nosotros p{
    font-size: 16px;
    font-weight: 300;
  }
  .cont-nosotros ul>li{
    font-weight: bold;
  }


/*CARRUCEL*/

.carousel {
  background: white;
  height:420px;
}



/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
}

/*Seccion info de la home*/

.card{
  width:280px;
  height:410px;
}


/*BOTON CONTACTO*/
.mensaje-ayuda{
  position: fixed;
  bottom: 80px;
  right: 100px;
  z-index: 2;
  background: white;
  padding:10px;
  border:1px solid #e62f2d;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  font-weight: 300;
  text-align: center;
  display:none;
}
.boton-contacto{
  background: white;
  padding: 15px;
  /*border: 1px solid #b88c36;*/
  border:1px solid #e62f2d;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 1;
  animation: bounceInRight 1s forwards;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}
