@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');



/*PALETA DE COLORES 
Violeta azulado: #41137b
Blanco: #ffffff
Rojo: #e62f2d
Gris: #6c757d
* /

/* GENERAL */
html,body{
  height:100%;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-weight:200;
}
.btn-op1{
  border-radius: 0px;
  background: red;
  font-weight: 300;
  color: white;
}
.btn-op1 i{
  color:white;
}
.btn-op1:hover{
  background:white;
  border:1px solid red;
}
.btn-op1:hover i{
  color:red;
}
.btn:focus{
  outline: 0px;
  box-shadow:none;
}

/* PARA ADAPTAR */

@media only screen and (max-width: 991px) {
#cajasubmenu{
margin:auto;
}
/*boton de inicio registro*/
.btn-op1{
  margin-bottom:10px;
}

}

      /* MENU */
      #navid{
      margin:0px;
      padding:0px;
      }


}
@media only screen and (min-width: 992px) {
  #cajasubmenu{
  margin-top:29px;
  }

}
  /* INICIO */
  #inicio-seccion{
    background-image:url('../img/enfermera.jpg');
    background-attachment: fixed center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #inicio-seccion .titulo{
    font-weight: 800;
    font-size: 60px;
    text-align: center;
  }
  #inicio-seccion .descripcion{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  .link1{
  
      margin-right:15px;
  }

  .link2{
      color:#3c3b37;
    
      margin-right:15px;
      
  }

  a{
      color:#060C17;
      font-size:16px;

      text-decoration: none;
  }
  /* visited link */
  a:visited {
    color:#3c3b37;
    text-decoration:none;
  }

  /* mouse over link */
  a:hover {
    color:rgb(222, 23, 45) !important;
    text-decoration:none;
  }

  /* selected link */
  a:active {
    color:#3c3b37;
    text-decoration:none;
  }

  */
  *:focus {
      outline: none !important;
  }

  a:hover.spancito{
      border-style: solid; border-width:0px 0px 2px 0px;border-color:red;
  }